main {
    background-color: rgb(7, 214, 204);
    margin: 0px auto;
    max-width: 2000px;
    height: 1100px;
    display: grid;
    grid-template-columns: 6fr 1.5fr;
    grid-template-rows: 0fr 0.1fr 1fr 0fr 0.05fr;
    grid-template-areas: "header header" "nav nav" "section aside" "footer footer" "final final";
    color: black;
    font-family: 'Tahoma';
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.4fr;
    grid-template-rows: 0fr;
    grid-template-areas: "imagen nombre login"
}

.foto{
    display: block;
    margin: 20px 10px 20px 40px;
   
    width: 100px;
    height: 150px;
    border-color: black;
    border-style: solid;
}

nav {
    grid-area: nav;
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "inicio curriculum proyectos contactos vacio";
    justify-items: stretch;
    align-items: center;
    justify-content: stretch;
    align-content: stretch;
}
nav>a{
    color:white;
    font-style: normal;    
    text-align: center;
    font-size: 25px;
    border-color: rgb(122, 118, 118);
    border-style: solid;
    padding : 10px;
}
nav>a:hover{
    color:white;
    background-color:rgb(5, 98, 236);
}
a{
    text-decoration: none;
    color:black;
}
aside>ul {
    background-color: rgb(7, 214, 204);
}

aside {
    background-color: rgb(94, 255, 239);
    grid-area: aside;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "my-menu" "my-interes"
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 1fr;
    grid-template-areas: "titulo titulo" "texto imagen";
    justify-items: stretch;
    align-items: start;
    justify-content: stretch;
    align-content: stretch;
}
#footer {
    background-color: rgb(7, 214, 204);
    grid-area: footer;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-rows: 0fr;
    grid-template-areas: "imagen listado1 listado2 listado3 listado4 nada";
    justify-items: stretch;
    align-items: start;
    justify-content: stretch;
    align-content: stretch;
}

#final {
    color: white;
    grid-area: final;
    background-color: black;
    text-align: center;
}


.titulo_noticia {
    grid-area: titulo;
}

.noticia {
    grid-area: texto;
}
footer>img{
    display:block;
    margin:auto;
    margin-left:40px;
    width: 70px;
    height: 100px;
    border-color: black;
    border-style: solid;
}
section>article>h3{
    font-style: italic;
}
section>article>p{
    text-align: justify;
}
.div_imagen_noticia {
    grid-area: imagen;
}
.imagen_noticia{
    display: block;
    margin: auto;
    width:400px;
    height: 200px;
}

#menu {
    grid-area: my-menu;
    margin: 30px 30px 150px;
}

#enlaces {
    grid-area: my-interes;
    margin: 0px 30px 200px;
}

section {
    grid-area: section;
    background-color: whitesmoke;
    padding-left: 40px;
}


